{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Все посты</h1>
        <h3>{{ Posts|length }}</h3>

<form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

{% if perms.New.add_post %}
    <a href="{% url 'post_create' %}">Добавить пост</a>
    {% endif %}

    {% if Posts %}
       <table>
           <tr>
               <td> <b>Заголовок</b> </td>
               <td> <b>Дата публикации</b> </td>
               <td> <b>Текст</b> </td>
               <td> <b>Категория</b> </td>

               {% if perms.New.change_post or perms.New.delete_post %}
                <td>Действия</td>
                {% endif %}

           </tr>
           {% for post in Posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.dataCreation|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:20 }}</td>
               <td>{{ post.categoryType }}</td>

               <td>
                    {% if perms.New.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.post.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                    {% endif %}
                </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Постов нет!</h2>
   {% endif %}
   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}